@model TestItemModel

@if (!Model.IsComplete)
{
    <input type="hidden" asp-for="QuestionId" />
    <div class="card text-center">
        <div class="card-header">
            Please, answer for this question:
        </div>
        <div class="card-body text-left">
            <h5 class="card-title">@Model.QuestionName</h5>
            @if (Model.Answers.Count == 0)
            {
                <div class="form-group">
                    <label for="tbAnsertText">Please, write you're answer for text box:</label>
                    <textarea class="form-control" id="tbAnsertText" rows="3" maxlength="1024"></textarea>
                </div>
            }
            else
            {
                if (Model.IsSingleAnswer)
                {
                    <p>Please, select one answer form list:</p>
                }
                else
                {
                    <p>Please, select one or more answer form list:</p>
                }
                foreach (var a in Model.Answers)
                {
                    if (Model.IsSingleAnswer)
                    {
                        <div class="custom-control custom-radio">
                            <input type="radio" id="@a.TestQuestionAnswerId" name="answer" class="custom-control-input">
                            <label class="custom-control-label" for="@a.TestQuestionAnswerId">@a.Answer</label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="answer" class="custom-control-input" id="@a.TestQuestionAnswerId">
                            <label class="custom-control-label" for="@a.TestQuestionAnswerId">@a.Answer</label>
                        </div>
                    }
                }
            }

            <button class="btn btn-primary" id="btnNextQuestion">Next question</button>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Test is complete!</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    </div>
}